body {
    margin: 0;
    padding: 1em;
}

main {
    width: fit-content;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

header {
    margin: 0 auto 1em auto;
    max-width: 800px;
}

nav {
    margin: 1em 0;
    display: flex;
    align-items: end;
    gap: 2em;
}

h1 {
    margin: 0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    h1 {
        gap: 0;
    }
}

.nobr {
    white-space: nowrap;
}

img {
    max-width: 100%;
}

.rating, .author {
    margin: 0;
}
