.post-navigation {
	margin: 0;
	column-gap: 1em;
	justify-content: space-between;
}

.post-navigation > a {
	font-size: 1.25em;
	flex-grow: 1;
	text-align: center;
}

.post-navigation > a:only-child {
	flex-grow: 0;
	width: 50%;
}

.previous-button:only-child {
	margin-left: auto;
}
