@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Sono:wght@200..800&display=swap');

body {

    /* Color Variables */
    --pageBackground: #1e1e2e;
    --cardBackground: #11111b;
    --fallbackTextColor: #cdd6f4;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --mauve: #cba6f7;

    /* Rainbow Stripe Background */
    background-color: var(--pageBackground);
    background-image: repeating-linear-gradient(
        -45deg,
        var(--pageBackground), var(--pageBackground) 25px,
        var(--red) 25px, var(--red) 50px,
        var(--pageBackground) 50px, var(--pageBackground) 75px,
        var(--maroon) 75px, var(--maroon) 100px,
        var(--pageBackground) 100px, var(--pageBackground) 125px,
        var(--peach) 125px, var(--peach) 150px,
        var(--pageBackground) 150px, var(--pageBackground) 175px,
        var(--yellow) 175px, var(--yellow) 200px,
        var(--pageBackground) 200px, var(--pageBackground) 225px,
        var(--green) 225px, var(--green) 250px,
        var(--pageBackground) 250px, var(--pageBackground) 275px,
        var(--teal) 275px, var(--teal) 300px,
        var(--pageBackground) 300px, var(--pageBackground) 325px,
        var(--sky) 325px, var(--sky) 350px,
        var(--pageBackground) 350px, var(--pageBackground) 375px,
        var(--sapphire) 375px, var(--sapphire) 400px,
        var(--pageBackground) 400px, var(--pageBackground) 425px,
        var(--blue) 425px, var(--blue) 450px,
        var(--pageBackground) 450px, var(--pageBackground) 475px,
        var(--lavender) 475px, var(--lavender) 500px,
        var(--pageBackground) 500px, var(--pageBackground) 525px,
        var(--mauve) 525px, var(--mauve) 550px
    );
    background-attachment: fixed;
    color: var(--fallbackTextColor);
    margin: 0;
    padding: 1em;
    font-family: Sono, 'Courier New', Courier, monospace;
}
@media (pointer:none), (pointer:coarse) {
    body {
        background-attachment: scroll;
    }
}

main {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
/* @media screen and (min-width: 1000px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
} */
header {
    margin: 0 auto 1em auto;
    max-width: 800px;
}

nav {
    margin: 1em 0;
    display: flex;
    align-items: end;
    gap: 2em;
}
nav a {
    text-decoration: none;
    font-size: 1.5em;
}
nav a span.selected {
    font-weight: bold;
    text-decoration: underline;
}

section, header, article {
    background-color: var(--cardBackground);
    padding: 0 1em;
    border: 4px solid transparent;
    border-radius: 10px;
}
section, article {
    max-width: 800px;
}

h1 {
    font-family: Monofett, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.3em;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        gap: 0;
    }
}

p, li, th, td {
    line-height: 2;
}

.nobr {
    white-space: nowrap;
}

a {
    color: inherit;
}

.rating {
    font-size: x-large;
}

code {
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
}

/* order of homepage sections */
#bio {
    order: 1;
}
#updates {
    order: 2;
}
#activity {
    order: 3;
}
#reading {
    order: 4;
}
#playing {
    order: 5;
}
#watching {
    order: 6;
}
#eating {
    order: 7;
}

/* Color Animation */
@keyframes colorChange {
    0% {
        color: var(--red);
        border-color: var(--red);
    }
    10% {
        color: var(--maroon);
        border-color: var(--maroon);
    }
    20% {
        color: var(--peach);
        border-color: var(--peach);
    }
    30% {
        color: var(--yellow);
        border-color: var(--yellow);
    }
    40% {
        color: var(--green);
        border-color: var(--green);
    }
    50% {
        color: var(--teal);
        border-color: var(--teal);
    }
    60% {
        color: var(--sky);
        border-color: var(--sky);
    }
    70% {
        color: var(--sapphire);
        border-color: var(--sapphire);
    }
    80% {
        color: var(--blue);
        border-color: var(--blue);
    }
    90% {
        color: var(--lavender);
        border-color: var(--lavender);
    }
    100% {
        color: var(--red);
        border-color: var(--red);
    }
}
section, header, article, nav {
    animation: colorChange 60s linear infinite;
}