/* Color Animation */
@keyframes colorChange {
    0% {
        color: var(--red);
        border-color: var(--red);
    }
    10% {
        color: var(--maroon);
        border-color: var(--maroon);
    }
    20% {
        color: var(--peach);
        border-color: var(--peach);
    }
    30% {
        color: var(--yellow);
        border-color: var(--yellow);
    }
    40% {
        color: var(--green);
        border-color: var(--green);
    }
    50% {
        color: var(--teal);
        border-color: var(--teal);
    }
    60% {
        color: var(--sky);
        border-color: var(--sky);
    }
    70% {
        color: var(--sapphire);
        border-color: var(--sapphire);
    }
    80% {
        color: var(--blue);
        border-color: var(--blue);
    }
    90% {
        color: var(--lavender);
        border-color: var(--lavender);
    }
    100% {
        color: var(--red);
        border-color: var(--red);
    }
}

.card {
    animation: colorChange 60s linear infinite;
}
