body {
    /* Rainbow Stripe Background */
    background-color: var(--pageBackground);
    background-image: repeating-linear-gradient(
        -45deg,
        var(--pageBackground), var(--pageBackground) 25px,
        var(--red) 25px, var(--red) 50px,
        var(--pageBackground) 50px, var(--pageBackground) 75px,
        var(--maroon) 75px, var(--maroon) 100px,
        var(--pageBackground) 100px, var(--pageBackground) 125px,
        var(--peach) 125px, var(--peach) 150px,
        var(--pageBackground) 150px, var(--pageBackground) 175px,
        var(--yellow) 175px, var(--yellow) 200px,
        var(--pageBackground) 200px, var(--pageBackground) 225px,
        var(--green) 225px, var(--green) 250px,
        var(--pageBackground) 250px, var(--pageBackground) 275px,
        var(--teal) 275px, var(--teal) 300px,
        var(--pageBackground) 300px, var(--pageBackground) 325px,
        var(--sky) 325px, var(--sky) 350px,
        var(--pageBackground) 350px, var(--pageBackground) 375px,
        var(--sapphire) 375px, var(--sapphire) 400px,
        var(--pageBackground) 400px, var(--pageBackground) 425px,
        var(--blue) 425px, var(--blue) 450px,
        var(--pageBackground) 450px, var(--pageBackground) 475px,
        var(--lavender) 475px, var(--lavender) 500px,
        var(--pageBackground) 500px, var(--pageBackground) 525px,
        var(--mauve) 525px, var(--mauve) 550px
    );
    background-attachment: fixed;
}

@media (pointer:none), (pointer:coarse) {
    body {
        background-attachment: scroll;
    }
}