@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Sono:wght@200..800&display=swap');

body {
    font-family: Sono, 'Courier New', Courier, monospace;
}

h1 {
    font-family: Monofett, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.3em;
    }
}

nav a {
    text-decoration: none;
    font-size: 1.5em;
}
nav a span.selected {
    font-weight: bold;
    text-decoration: underline;
}

p, li, th, td {
    line-height: 2;
}

a {
    color: inherit;
}

.rating {
    font-size: x-large;
}

code {
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
}