<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="./css/colors.css">
        <link rel="stylesheet" href="./css/text.css">
        <link rel="stylesheet" href="./css/general-sizing-and-layout.css">
        <link rel="stylesheet" href="./css/rainbow-stripe-background.css">
        <link rel="stylesheet" href="./css/changing-color-animation.css">
        <title>Anthony's Little Blog</title>
    </head>

    <body>  
        <header>
            <h1><span class="nobr">Hi, friend !</span><span class="nobr">I'm Anthony ! &nbsp; 😄</span></h1>

            <nav>
                <a href="/">🏠 <span>Home</span></a>
                <a href="/blog">✏️ <span>Blog</span></a>
                <a href="/reviews">⭐️ <span class="selected">Reviews</span></a>
            </nav>
        </header>
        
        <main>
            {{review_posts}}
        </main>
    </body>
</html>